{{ form_start(form, {'attr': {'class': 'space-y-6', 'novalidate': 'novalidate'}}) }}
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="md:col-span-2">
            {{ form_row(form.titre, {'attr': {'placeholder': 'Ex: Neutraliser le bug de synchronisation'}}) }}
        </div>

        <div class="md:col-span-2">
            {{ form_row(form.description, {'attr': {'placeholder': 'Briefing détaillé de la mission...'}}) }}
        </div>

        {{ form_row(form.sprint) }}
        
        <div class="grid grid-cols-2 gap-4 md:col-span-1">
             {{ form_row(form.statut) }}
             {{ form_row(form.priorite) }}
        </div>

        <div class="grid grid-cols-2 gap-4 md:col-span-1">
            {{ form_row(form.tempsEstime) }}
            {{ form_row(form.tempsReel) }}
        </div>

        {% if form.dateCreation is defined %}
            {{ form_row(form.dateCreation) }}
        {% endif %}
        
        {% if form.dateEcheance is defined %}
            {{ form_row(form.dateEcheance) }}
        {% endif %}
    </div>

    <div class="pt-8 border-t border-white/5 flex justify-end">
        <button class="btn-nexus-primary rounded-xl px-10 py-4 text-sm shadow-xl shadow-nexus-primary/20 group">
             <span class="material-symbols-outlined text-[20px] group-hover:rotate-12 transition-transform">send</span>
             <span class="ml-2">{{ button_label|default('Enregistrer') }}</span>
        </button>
    </div>

{{ form_end(form) }}
