{{ form_start(form, {'attr': {'class': 'space-y-6', 'novalidate': 'novalidate'}}) }}
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="md:col-span-2">
            {{ form_row(form.nom, {'attr': {'placeholder': 'Ex: Sprint-01 Alpha'}}) }}
        </div>

        <div class="md:col-span-2">
             {{ form_row(form.projet) }}
        </div>

        {{ form_row(form.dateDebut) }}
        {{ form_row(form.dateFin) }}

        <div class="grid grid-cols-2 gap-4">
             {{ form_row(form.objectifVelocite) }}
             {{ form_row(form.velociteReelle) }}
        </div>
        
        {{ form_row(form.statut) }}
    </div>

    <div class="pt-8 border-t border-white/5 flex justify-end">
        <button class="btn-nexus-primary rounded-xl px-10 py-4 text-sm shadow-xl shadow-nexus-primary/20 group">
             <span class="material-symbols-outlined text-[20px] group-hover:rotate-12 transition-transform">bolt</span>
             <span class="ml-2">{{ button_label|default('Enregistrer') }}</span>
        </button>
    </div>

{{ form_end(form) }}
